extends layout
block content
  header
    h1 A Little Twitter Page.
    div Getting top (last) 10 tweets from Twitter's twitter accound.
      | Every minute tweets updated looking for a new retweet. In case of a new retweet(s), the
      | Window is updated showing a new tweet(s) on top.

  section

    .tweetContainer
      .tweetBlock

